<div class="container">
    <div class="row">
        <div class="col-md-4 bg-light">
            <h3>Bel</h3>
            <p>Persoonlijk contact met een medewerker. Voor al uw vragen.</p>
            <h4>
                071 751 00 52
                <button type="button" class="btn btn-primary btn-sm btn-info" data-toggle="modal"
                        data-target="#belinfo">
                    <i class="fas fa-info-circle"></i>
                </button>
            </h4>
            <p class="font-italic">Vandaag open van 08.00 tot 20.00</p>
        </div>
        <div class="col-md-4 bg-light">
            <h3>WhatsApp</h3>
            <p>Snel op uw telefoon. Niet geschikt voor pakketaanpassingen en financiële- en medische vragen.</p>
            <h4>
                06 83 60 18 05
                <button type="button" class="btn btn-primary btn-sm btn-info" data-toggle="modal"
                        data-target="#whatsappinfo">
                    <i class="fas fa-info-circle"></i>
                </button>
            </h4>
            <p class="font-italic">Vandaag open van 08.00 tot 20.00 </p>
        </div>
        <div class="col-md-4 bg-light">
            <h3>E-mail</h3>
            <p>Wanneer u geen haast heeft. Niet geschikt voor ?pakketaanpassingen en financiële en medische vragen.
                Op dit moment gesloten. Wij kunnen u beter helpen als u belt.
                Vandaag open van 00.00 tot 08.00 en 20.00 tot 00.00 </p>
            <p class="font-italic">Vandaag open van 00.00 tot 08.00 en 20.00 tot 00.00 </p>
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-md-4 bg-light">
            <h3>Post</h3>
            <p>Wanneer u een brief wilt sturen. Vergeet de postzegel niet.</p>
            <p>Klantenservice Zilveren Kruis</p>
            <p>Postbus 444</p>
            <p>2300 AK Leiden</p>
        </div>
        <div class="col-md-4 bg-light">
            <h3>Social</h3>
            <a class="btn btn-link" href="https://twitter.com/zilverenkruis">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a class="btn btn-link" href="https://www.facebook.com/zilverenkruis">
                <i class="fab fa-facebook-square fa-2x"></i>
            </a>
            <p class="font-italic">Vandaag open van 08.00 tot 20.00 </p>
        </div>
    </div>
</div>
<div class="modal" id="belinfo">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Info</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5>Belkosten</h5>
                <p>U betaalt alleen uw gebruikelijke belkosten. Wij brengen geen extra kosten in rekening.</p>
                <h5>Keuzemenu</h5>
                <ul>
                    <li>
                        Wilt u precies weten wat wel of niet wordt vergoed, of krijgt u geld van ons terug, toets 1.
                    </li>
                    <li>
                        Moet u nog geld betalen, toets 2.
                    </li>
                    <li>
                        Voor alle andere zaken, toets 3.
                    </li>
                    <li>
                        Press 9 for English, anders blijft u aan de lijn.
                    </li>
                </ul>
                <h5>Terugbelafspraak</h5>
                <p>
                    Als de wachttijd langer is dan 5 minuten dan kunt u uw telefoonnummer achterlaten en dan bellen wij
                    u
                    terug.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="whatsappinfo">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Info</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h5>​Open WhatsApp</h5>
                <ol>
                    <li>
                        Start een nieuwe chat
                    </li>
                    <li>
                        Voeg ons als nieuw contact toe
                    </li>
                    <li>
                        Stel uw vraag
                    </li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</div>